:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88vh;
  background-color: #202124;
}

.login-container {
  text-align: center;
}

.form-container {
  display: flex;
  gap: 20px; /* Espacio entre los formularios */
}

.title {
  color: white;
  font-weight: 400;
  padding: 50px;
}

.login-card, .response-card, .new-form-card {
  padding-top: 10px;
  background-color: #303134;
  color: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

h2 {
  margin: 0;
  font-weight: 400;
}

p {
  margin-top: 8px;
  font-size: 14px;
  color: #b0b0b0;
}

.full-width {
  width: 100%;
}

mat-form-field {
  color: white;
}

button {
  width: 100%;
  margin-top: 1rem;
}
