<div class="login-container">
  <h2 class="title">Retornar Libro</h2>
  <mat-card class="login-card">

    <mat-form-field class="mat-input" appearance="outline">
      <mat-label>ID del Prestamo</mat-label>
      <input matInput [(ngModel)]="datosLibro.prestamo_id" placeholder="Escribe el ID del Prestamo">
    </mat-form-field>

    <mat-form-field class="mat-input" appearance="outline">
      <mat-label>ID del Miembro</mat-label>
      <input matInput [(ngModel)]="datosLibro.miembro_id" placeholder="Escribe el ID del Miembro">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Estado</mat-label>
      <mat-select [(ngModel)]="datosLibro.estado">
        @for(e of estado; track e) {
          <mat-option [value]="e.value">{{e.nombre}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button mat-raised-button type="submit" (click)="validarPrestamo()">Validar Préstamo</button>
  </mat-card>

  <mat-card class="response-card">
    <h4>Respuesta</h4>
    <p>A Pagar: {{saldo}}</p>
    <button mat-raised-button type="submit" (click)="regresarLibro()">Retornar Libro</button>
  </mat-card>
</div>
