<div class="container">
    <h2 class="title">Configuraciones</h2>
    <mat-card class="primary-card">
  
      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Días de Prestamo</mat-label>
        <input matInput [(ngModel)]="dias_prestamo" placeholder="Días de Prestamo Permitidos">
      </mat-form-field>
      <button mat-raised-button type="submit" (click)="diasPrestamo()">Configurar</button>
    </mat-card>
  
    <mat-card class="secondary-card">
        <mat-form-field class="mat-input" appearance="outline">
            <mat-label>Cuota por Día de Retraso</mat-label>
            <input matInput [(ngModel)]="dias_retraso" placeholder="Días de Prestamo Permitidos">
          </mat-form-field>
      <button mat-raised-button type="submit" (click)="diasRetraso()">Configurar</button>
    </mat-card>

    <mat-card class="secondary-card">
        <mat-form-field class="mat-input" appearance="outline">
            <mat-label>Cuota por Extravío</mat-label>
            <input matInput [(ngModel)]="cuota_extravio" placeholder="$">
          </mat-form-field>
      <button mat-raised-button type="submit" (click)="extravio()">Configurar</button>
    </mat-card>
  </div>
  